<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation"
	ng-controller="StatusController">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-href="#/">My Coffee Notes</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{ active: isViewActive( '/' ) }"><a ng-href="#/">Home</a></li>
			    <li ng-class="{ active: isViewActive( '/about' ) }"><a ng-href="#/about">About</a></li>
			    <li ng-class="{ active: isViewActive( '/contact' ) }"><a ng-href="#/contact">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="{ active: isViewActive( '/account' ) }" ng-show="currentUser"><a ng-href="#/account">My Coffees</a></li>
				<li ng-class="{ active: isViewActive( '/admin' ) }" ng-show="currentUser"><a ng-href="#/admin">Admin</a></li>
				<li ng-class="{ active: isViewActive( '/logout' ) }" ng-show="currentUser"><a ng-href="#/logout" ng-click="logout()">Logout</a></li>
				<li ng-class="{ active: isViewActive( '/login' ) }"><a ng-href="#/login" data-toggle="modal" data-target="#LoginModal" ng-hide="currentUser">Login / Register</a></li>
			</ul>                
		</div><!-- /.nav-collapse -->
	</div><!-- /container -->
</div><!-- /fixed navbar -->


